//Blue button sample
.btn-blue{
	-fx-background-color: #3ca5dc;
	-fx-background-radius: 5px;
}
.btn-blue:hover{
	-fx-background-color: #3FAFE9;
}
.btn-blue:pressed{
	-fx-background-color: #3FAFE9;
	-fx-effect: dropshadow(three-pass-box, gray, 0.5, 0.5, 0.5, 0.5);
}

//Input Sample
.input-common{
	-fx-
}
