.nav-bar-panel{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 1, 1);
}

.top-menu-panel{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 1, 1);
}

.table-panel{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 1, 1);
}

.text-field{
	-jfx-unfocus-color: white;
	-fx-prompt-text-fill: white;
	-fx-text-fill: white;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #6cb235;
}

.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-size: 16;
   -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
   -fx-cell-size: 35;
   -fx-alignment: center-left;
   -fx-background-color: whitesmoke;
   -fx-border-color: whitesmoke;
   -fx-text-fill: black;
   -fx-alignment: CENTER_LEFT;
}

.table-view{
    -fx-background-color: #6cb235;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #6622CC,80%);

	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

.table-view .arrow {
   -fx-mark-color: white;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6622CC,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

.table-row-cell:selected .text {
  -fx-fill: #6cb235 ;
}

.combo-box .arrow{
	-fx-background-color: #fff
}